*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #0E0E0E;
  --links-color: #090909;
  --footer-color: #202020;
  --blog-text--color: #505050;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display: flex;
  padding: 1em 0;
  position: fixed;
  background-color: white;
  width: 100%;
}

/* Added this due to the fixed navbar */

img,
.hero-img {
  display: block;
  max-width: 100%;
}

nav li {
  margin-left: 1.5em;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--links-color);
  cursor: pointer;
}



.hero-section,
.blog,
.entry,
.intro {
  padding-top: 3.5em;
}

.container,
.hero-container,
.blog,
.view-more--container,
.intro_container {
  width: 90%;
  max-width: 1085px;
  margin: 0 auto;
}


.flex-container,
.img-container {
  display: flex;
  align-items: center;
}

.flex-container {
  justify-content: space-between;
}


.title {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  white-space: nowrap;
  margin-left: .5em;
  color: var(--title-color);
}

/* hero styles */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/hero-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5em 0;
}


.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 100%;
  padding-bottom: 1.5em;
}

.hero-text {
  max-width: 450px;
}

.hero-content--container {
  display: flex;
  justify-content: row;
  align-items: center;
}

.hero-img {
  display: none;
}

.hero__date,
.hero__title {
  margin-bottom: .25em;
}

.hero__date,
.hero__post,
.main__post--content,
.about__me--content,
.about__me--title-content
.footer__copyright {
  font-weight: 400;
}

.hero__date {
  font-size: .75rem;
  line-height: 1rem;
}

.hero__title,
.blog__button,
.footer__title,
.recent__post--title {
  font-weight: 700;
}

.footer__title,
.hero__title,
.main__post--title,
.about__me--title {
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 108.2%;
}

.footer__title,
.hero__title,
.about__me--title {
  max-width: 374px;
}

.hero__post,
.main__post--content,
.about__me--content,
.about__me--title-content {
  font-size: 1rem;
  line-height: 1.25rem;
}

.hero__post {
  max-width: 414px;
}

.about__me--content,
.about__me--title-content,
.main__post--content {
  max-width: 700px;
}

/* Blog section */

.blog__image,
.main__post--image {
  margin-bottom: .875em;
  width: 100%;
  border-radius: 3px;
}

.blog__date,
.blog__post--number {
  margin-bottom: .56em;
}

.blog__content {
  margin-bottom: 2.56em;
}

.blog__button {
  display: block;
  margin: 1.8em auto 3.1em;
  font-size: 1rem;
  line-height: 1.5em;
  text-decoration-line: underline;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Featured blog styles "blog.html"*/


.main__post--date {
  margin: 1em 0;
}

.main__post--title,
.about__me--title {
  margin-bottom: .5em;
}

.main__post--image {
  margin-bottom: 2em;
}

.main__post--header {
  font-size: 1.5rem;
}

.main__post--content,
.blog__content {
  font-size: 1.15rem;
  line-height: 1.4em;
}

.blog__content {
  color: var(--blog-text--color)
}

.main__post--header,
.main__post--content,
.about__me--content,
.about__me--title-content,
.about__me--header {
  margin-bottom: 1.25em;
}

.recent__post--title {
  text-align: center;
  padding-bottom: 1.5em;
}

.portrait {
  margin: 1.7em 0;
}


/* footer styles */

footer {
  background-color: var(--footer-color);
  padding: 2.3em 0;
  color: white;
  text-align: center;
}

.footer__title {
  margin: .25em auto;
}

.footer__title,
.footer__copyright {
  font-size: .75rem;
}


@media( max-width: 890px) {
  .blog__button {
    display: none;
  }
}

@media (min-width: 900px) {
  .hero {
    padding: 0;
    height: 100vh;
  }

  .hero-container {
    justify-content: center;
  }

  
  .hero__date {
    font-size: 1rem;
  }


  .hero__title,
  .main__post--title {
    font-size: 3rem;
    max-width: 100%;
  }

  .hero__post {
    align-self: flex-start;
    max-width: 80ch;
  }

  .view-more--container {
    padding-top: 2.5em;
  }


  .blog,
  .view-more--container,
  .recent__post--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding-bottom: 0;
  }

  .blog__content {
    margin-bottom: 0;
  }

  .main__post--content,
  .about__me--content {
    max-width: 100ch;
  }

  .recent__post--title {
    font-size: 1.5rem;
  }
  .recent__post--container {
    padding-top: 0;
    padding-bottom: 3.125em;
  }

  .recent__post--section {
    padding: 0;
  }

  .about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5em;
  }

  .about__container--content {
    padding-left: 2em;
  }

  .about__me--title {
    font-size: 2.25rem;
    max-width: 40ch;
  }

  .about__me--title-content {
    max-width: 90ch;
  }

  .about__me--more-content {
    margin: 0 auto;
    max-width: 52em;
  }

  .main__post,
  .main__content-container {
    padding: 0 0 1em 3em;
  }

  .hero-text {
    max-width: 450px;
  }

  .hero-content--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-img {
    display: block;
    width: 350px;
  }

   /* Animation styles  */
  .view-more--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    grid-template-rows: 0fr;
    transition: 1s;
    overflow: hidden;
    }
    .view-more--container .blog__post {
        min-height: 0;
        padding: 0;
    }
    .view-more--container.expanded {
        grid-template-rows: 1fr;
    }
}
