*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title-color: #0E0E0E;
  --links-color: #090909;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  height: 6vh;
}

img {
  display: block;
  max-width: 100%;
}

nav li {
  margin-left: 1.5em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--links-color);
  cursor: pointer;
}

.container,
.hero-text-container,
.blog {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.flex-container,
.img-container {
  display: flex;
  align-items: center;
}

.flex-container {
  justify-content: space-between;
  height: 100%;
}


.title {
  font-family: 'Roboto', sans-serif;
  font-size: .875rem;
  white-space: nowrap;
  margin-left: .5em;
  color: var(--title-color);
}

/* hero styles */

.hero {
  height: 30vh;
  background: url(images/hero-image.png) no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 1.5em;
}

.hero__date,
.hero__title {
  margin-bottom: .25em;
}

.hero__date {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.03em;
  line-height: 108.2%;
  max-width: 70%;
}

.hero__post {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  max-width: 374px;
}


.blog__image {
  margin: 0 auto;
}
/* .blog__post {
  margin: 0 auto;
} */


